<div id="large-header" style="position:absolute">
    <canvas id="demo-canvas" style="position:absolute"></canvas>
</div>
<div class="nsrdj">
    <div class="leftBox"></div>
    <div class="rightBox">
        <ul class="nsrdjList">
            <li>
                <p>纳税人登记注册户数</p>
                <p>{{count | number: 0}}</p>
            </li>
            <li>
                <p>本年新增纳税人</p>
                <p>{{xz| number: 0}}</p>
            </li>
            <li>
                <p>本年注销纳税人</p>
                <p>{{zx| number: 0}}</p>
            </li>
        </ul>
    </div>
</div>