<div id="large-header" style="position:absolute">
    <canvas id="demo-canvas" style="position:absolute"></canvas>
</div>
<div class="gdp">
    <!--style="margin-top:8px;"-->
    <div id="ssgdp"></div>
    <ul id="gdp_line">
        <li>{{curYear - 6}}年</li>
        <li>{{curYear - 5}}年</li>
        <li>{{curYear - 4}}年</li>
        <li>{{curYear - 3}}年</li>
        <li>{{curYear - 2}}年</li>
        <li class="line">{{curYear - 1}}年</li>
    </ul>
    <a href="gdpcx/index.html" target="_blank"style="position:absolute;top:15px;left:1080px;z-index:1000;font-size:1.2rem">
        <img src="./imges/add.png" alt=""/>
    </a>
</div>

