<div class="tsxz">
    <div class="leftBox"></div>
    <div class="rightBox">
        <ul class="xz_info">
            <li>
                <p>特色小镇数量(个)</p>
                <p>{{viewData[0] | number: 0}}</p>
            </li>
            <li>
                <p>入住企业数(户)</p>
                <p>{{viewData[1] | number: 0}}</p>
            </li>
            <li>
                <p>组织收入(万元)</p>
                <p>{{viewData[2]/10000 | number: 2}} <span style="font-size:2rem;font-family:方正小标宋"></span></p>
            </li>
            <li class="xz_desc">
              <div>
                <h3>全省第一批、第二批特色小镇名单</h3>
                <h5>第一批特色小镇名单：</h5>
                <ul>
                    <li>
                        <span>杭州：上城玉皇山南基金小镇、江干丁兰智慧小镇、西湖云栖小镇、西湖龙坞茶镇、余杭梦想小镇、余杭艺尚小镇、富阳硅谷小镇、桐庐健康小镇、临安云制造小镇</span>
                    </li>
                    <li>
                        <span>宁波：江北动力小镇、梅山海洋金融小镇、奉化滨海养生小镇</span>
                    </li>
                    <li>
                        <span>温州：瓯海时尚制造小镇、苍南台商小镇</span>
                    </li>
                    <li>
                        <span>湖州：湖州丝绸小镇、南浔善琏湖笔小镇、德清地理信息小镇</span>
                    </li>
                    <li>
                        <span>嘉兴：南湖基金小镇、嘉善巧克力甜蜜小镇、海盐核电小镇、海宁皮革时尚小镇、桐乡毛衫时尚小镇</span>
                    </li>
                    <li>
                        <span>绍兴：越城黄酒小镇、诸暨袜艺小镇</span>
                    </li>
                    <li>
                        <span>金华：义乌丝路金融小镇、武义温泉小镇、磐安江南药镇</span>
                    </li>
                    <li>
                        <span>衢州：龙游红木小镇、常山赏石小镇、开化根缘小镇</span>
                    </li>
                    <li>
                        <span>台州：黄岩智能模具小镇、路桥沃尔沃小镇、仙居神仙氧吧小镇</span>
                    </li>
                    <li>
                        <span>丽水：莲都古堰画乡小镇、龙泉青瓷小镇、青田石雕小镇、景宁畲乡小镇</span>
                    </li>
                </ul>
                <h5>第二批特色小镇名单：</h5>
                <ul>
                    <li>
                        <span>杭州：下城跨贸小镇、拱墅运河财富小镇、滨江物联网小镇、萧山信息港小镇、余杭梦栖小镇、桐庐智慧安防小镇、建德航空小镇、富阳药谷小镇、天子岭静脉小镇</span>
                    </li>
                    <li><span>
                        宁波：鄞州四明金融小镇、余姚模客小镇、宁海智能汽车小镇、杭州湾新区滨海欢乐假期小镇
                    </span></li>
                    <li><span>
                        温州：瓯海生命健康小镇、文成森林氧吧小镇、平阳宠物小镇
                    </span></li>
                    <li><span>
                        湖州：吴兴美妆小镇、长兴新能源小镇、安吉天使小镇
                    </span></li>
                    <li><span>
                        嘉兴：秀洲光伏小镇、平湖九龙山航空运动小镇、桐乡乌镇互联网小镇、嘉兴马家浜健康食品小镇
                    </span></li>
                    <li><span>
                        绍兴：柯桥酷玩小镇、上虞e游小镇、新昌智能装备小镇
                    </span></li>
                    <li><span>
                        金华：东阳木雕小镇、永康赫灵方岩小镇、金华新能源汽车小镇
                    </span></li>
                    <li><span>
                        衢州：江山光谷小镇、衢州循环经济小镇
                    </span></li>
                    <li><span>
                        舟山：定海远洋渔业小镇、普陀沈家门渔港小镇、朱家尖禅意小镇
                    </span></li>
                    <li><span>
                        台州：温岭泵业智造小镇、天台天台山和合小镇
                    </span></li>
                    <li><span>
                        丽水：龙泉宝剑小镇、庆元香菇小镇、缙云机床小镇、松阳茶香小镇
                    </span></li>
                    <li>
                        <span>省农发集团和上虞区：杭州湾花田小镇</span>
                    </li>
                    <li>
                        <span>中国美院、浙江音乐学院和西湖区：西湖艺创小镇</span>
                    </li>
                </ul>
              </div>
            </li>
        </ul>
    </div>
</div>