<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>外部门联网</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/wbmlw.css">
    <link rel="stylesheet" href="../css/more_comment.css"/>
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div class="wbmlw">
        <div class="topBox">
            <img class="t_more" src="../imges/hanber@2.png"/>
            <span class="font_fszsr">分行业收入情况</span>
            <!--<img src="./imges/titleBackground.png">-->
            <div class="footBox">
                <ul>
                    <li><a href="wbmlw.html"><img src="../imges/images/home_left.png"></a></li>
                    <li><a href="../index.html"><img src="../imges/images/home.png"></a></li>
                    <li><a href="qsnsr.html"><img src="../imges/images/home_right.png"></a></li>
                </ul>
            </div>
            <div class="more_info">
                <div class="more_info_close">&lt;&lt;</div>
                <div class="more_detail">
                    <dl>
                        <dt><a href="qsnsr.html"><img src="../imges/01.png"/></a></dt>
                        <dd>全省纳税人登记注册情况</dd>
                    </dl>
                    <dl>
                        <dt><a href="nsrdjzcqknddb.html"><img src="../imges/02.png"/></a></dt>
                        <dd>纳税人登记注册情况年度对比</dd>
                    </dl>
                    <dl>
                        <dt><a href="dssrnddb.html"><img src="../imges/03.png"/></a></dt>
                        <dd>地税收入年度对比</dd>
                    </dl>
                    <dl>
                        <dt><a href="fszsrqk.html"><img src="../imges/fszsrqk.jpg"/></a></dt>
                        <dd>分税种收入情况</dd>
                    </dl>
                    <dl>
                        <dt><a href="sssbqkjk.html"><img src="../imges/05.png"/></a></dt>
                        <dd>实时申报情况监控</dd>
                    </dl>
                    <dl>
                        <dt><a href="fcjyqkzs.html"><img src="../imges/06.png"/></a></dt>
                        <dd>房产交易情况展示</dd>
                    </dl>
                    <dl>
                        <dt><a href="qsdssrztzs.html"><img src="../imges/07.png"/></a></dt>
                        <dd>全省地税收入整体展示</dd>
                    </dl>
                    <dl>
                        <dt><a href="dqsrpm.html"><img src="../imges/09.png"/></a></dt>
                        <dd>地区收入排名</dd>
                    </dl>
                    <dl>
                        <dt><a href="wbmlw.html"><img src="../imges/wbmlw11.jpg"/></a></dt>
                        <dd>外部门联网</dd>
                    </dl>
                    <dl>
                        <dt><a href="fhysrqk.html"><img src="../imges/08.png"/></a></dt>
                        <dd>分行业收入情况</dd>
                    </dl>
                    <dl>
                        <dt><a href="ssgdp.html"><img src="../imges/gdp.jpg"/></a></dt>
                        <dd>部分省市GDP与税收对比</dd>
                    </dl>
                    <dl>
                        <dt><a href="tesexiaoz.html"><img src="../imges/tesexiaozhen.jpg"/></a></dt>
                        <dd>特色小镇</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="centerBox">
            <div class="circle sgat">省公安厅<br>25%</div>
            <div class="circle sgsj">省工商局<br>12%</div>
            <div class="circle srst">省人事厅<br>5%</div>
            <div class="circle sgsj1">省国税局<br>18%</div>
            <div class="circle szjj">省质监局<br>20%</div>
            <div class="circle hzqszx">杭州清算中心<br>10%</div>
            <div class="circle yl">银联或各<br>商业银行<br>10%</div>
            <div class="circle sb">市、县社保<br>管理机构<br>25%</div>
            <div class="img1"></div>
            <div class="img2"></div>
            <div class="img3"></div>
            <div class="img4"></div>
            <div class="img5"></div>
            <div class="img6"></div>
        </div>
    </div>
</body>
<script>

</script>
<script src="../js/home_comment.js"></script>
</html>