<div id="large-header" style="position:absolute">
  <canvas id="demo-canvas" style="position:absolute"></canvas>
</div>
<div class="wbmlw">
    <div class="centerBox">
        <img class="sdsj" src="imges/sdsj.png" alt=""/>
        <img class="rmyh" src="imges/rmyh.png" alt=""/>
        <div class="rmyh_bg bg_all"><span class="numberRun1"></span><br>人民银行</div>
        <img class="gabm" src="imges/gabm.png" alt=""/>
        <div class="gabm_bg bg_all"><span class="numberRun2"></span><br>公安部门</div>
        <img class="ylhgsy" src="imges/ylhgsy.png" alt=""/>
        <div class="ylhgsy_bg bg_all"><span class="numberRun3"></span><br>银联</div>
        <img class="ylhgsy_2" src="imges/gongsbm.png" alt=""/>
        <div class="ylhgsy_2_bg bg_all"><span class="numberRun4"></span><br>工商部门</div>
        <img class="gsbm" src="imges/gsbm.png" alt=""/>
        <div class="gsbm_bg bg_all"><span class="numberRun5"></span><br>国税部门</div>
        <img class="sbbm" src="imges/sbbm.png" alt=""/>
        <div class="sbbm_bg bg_all"><span class="numberRun6"></span><br>社保部门</div>
        <img class="jsbm" src="imges/jsbm.png" alt=""/>
        <img class="gtbm" src="imges/gtbm.png" alt=""/>
        <div class="gtbm_bg bg_all"><span class="numberRun7"></span><br>国土部门</div>
        <!--<canvas id="shuidi" width="1200" height="600" style="border:1px solid red;margin:30px 0 0 80px"></canvas>-->
        <!--银联-->
        <embed id="one" src="xml/wbmlw.svg" width="1200px" height="600px" type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!--工商部门-->
        <embed id="two" src="xml/wbmlw_2.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 人民银行-->
        <embed id="three" src="xml/wbmlw_3.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 公安部门-->
        <embed id="for" src="xml/wbmlw_4.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 建设部门-->
        <embed id="five" src="xml/wbmlw_5.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 国土部门-->
        <embed id="six" src="xml/wbmlw_6.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 国税部门-->
        <embed id="seven" src="xml/wbmlw_7.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
        <!-- 社保-->
        <embed id="et" src="xml/wbmlw_8.svg" width="1200px" height="600px" style="position:absolute;top:0px;left:0"type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/"/>
    </div>
</div>
